body {
    font-family: "Verdana", serif;
    font-weight: 400;
    font-size: 120%;
    line-height: 1.4;
    color: black;
    background-color: white;

}
a {
    font-style: normal;
    color: #00A24B;
}
a:hover{
    color: #E8A062;
}
h1 h2{
    font-family: "Georgia", serif;
}
h1{
    color: #FDC032;
    font-size: 4rem;
    line-height: 0.9;
}

header {
    background-color: #000000;
    text-align: center;
    margin-inside: 10px;
}
header img {
    max-height: 160px;
}
main {
    margin-inside: 20px;
    margin-outside: 0 auto;
    width: 600px;
}
.Introduction {
    font-size: 1.3rem;
    font-style: italic;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    margin-inside: 0;
    max-width: 95%;
    margin-outside: 40px auto;
}
li {
    background-color: #E8A062;
    color: white;
    margin-inside: 10px 40px;
}
li:first-child {
    border-radius: 30px 30px 0 0;
}
li:last-child {
    border-radius: 0 0 30px 30px;
}
